<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="photostream" content="" />

    <title>Photostream</title>

    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="images/favicon.png">

    <!-- JQuery via CDN -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- Bootstrap via CDN -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">

    <!-- Font Awesome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/ladda-themeless.min.css">
    <script src="js/spin.min.js"></script>
    <script src="js/ladda.min.js"></script>

    <!-- our own stuff -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="js/backbone-min.js"></script>
    <script type="text/javascript" src="js/jquery-silde-effects.js"></script>
    <script type="text/javascript" src="js/jquery.form.js"></script>
    <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="js/jquery.imageloader.js"></script>

    <script type="text/javascript" src="js/main.js"></script>
</head>
<body data-images-url="/list-approved" data-images-url-hidden="/list-hidden">
    <div class="container">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

            <p class="navbar-brand"><i class="fa fa-camera-retro fa-lg"></i> Live-Photo-Stream<!-- breaks IOS Layout xD <small>BETA</small>--></p>
            <div id="upload_test" class="form-group pull-right">
            <form name="upload" action="upload" method="post" enctype="multipart/form-data" role="form">
                <input type="file" style="display: none" name="displayImage" id="displayImage" onchange="doUpload($('#displayImage'), $('#uploadBtn'))"/>
                <a type="submit" data-style="slide-up" id="uploadBtn" class="btn navbar-btn btn-primary ladda-button" onclick="$('#displayImage').click()"><span class="ladda-label"><i id="uploadIcon" class="fa fa-upload"></i> Upload</span></a>
            </form>
        </div>
        <div id="upload_legacy" class="form-group pull-right">
            <form name="upload" action="upload" method="post" enctype="multipart/form-data" role="form">
                <input type="submit" value="Submit" class="btn navbar-btn btn-primary" style="display:inline">
                <input type="file" name="displayImage" style="display:inline"/>
            </form>
        </div>
        </nav>

        <div class="container" id="content">
            <div id="stream" class="js-masonry" data-masonry-options='{ "columnWidth": ".item", "itemSelector": ".item", "gutter": 0 }'>
            </div>
        </div>

        <nav class="navbar navbar-default navbar-fixed-bottom" role="footer">
            <p class="navbar-text hidden-xs"> &copy; <a href="http://rieder.io">Thomas Rieder</a>, <a href="http://manuelgeier.com">Manuel Geier</a>, Florian Mayer, Jonas Windhager</p>
            <p class="navbar-text visible-xs"> &copy; <a href="http://rieder.io">Thomas R.</a>, <a href="http://manuelgeier.com">Manuel G.</a>, Florian M., Jonas W.</p>
            <p class="navbar-text navbar-right loadingstatus"></p>
        </nav>
    </div>


    <!-- Templates -->

    <script type="text/template" id="stream-item-template">
        <div class="item" id="<%- id %>">
            <img class="img-responsive" src="<%- src %>" />
        </div>
    </script>

</body>
</html>
