<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="photostream" content="" />

    <title>Photostream - Administration</title>

    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="../images/favicon-admin.png">

    <!-- JQuery via CDN -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- Bootstrap via CDN -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">

    <!-- Font Awesome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/ladda-themeless.min.css">
    <script src="js/spin.min.js"></script>
    <script src="js/ladda.min.js"></script>

    <!-- our own stuff -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap-switch.min.css" />
    <script type="text/javascript" src="/js/underscore-min.js"></script>
    <script type="text/javascript" src="/js/backbone-min.js"></script>
    <script type="text/javascript" src="/js/jquery-silde-effects.js"></script>
    <script type="text/javascript" src="/js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="js/jquery.imageloader.js"></script>
    
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="/js/moderate.js"></script>
</head>
<body id="moderate" data-moderate="true" data-images-url="/list">
    <div class="container">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand"><i class="fa fa-camera-retro fa-lg"></i>  Live-Photo-Stream</p>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-right" role="moderate">
                <label class="">Moderation: </label>
                <input type="checkbox" id="streammode"
                    data-on-label="Off" data-off-label="On"
                    data-on="success" data-off="danger" />
            </form>
          </div><!-- /.navbar-collapse -->

        </nav>

        <div class="container" id="content">
            <div id="stream" class="js-masonry" data-masonry-options='{ "columnWidth": ".item", "itemSelector": ".item", "gutter": 0 }'>
            </div>
        </div>

        <nav class="navbar navbar-default navbar-fixed-bottom" role="footer">
            <p class="navbar-text hidden-xs"> &copy; <a href="http://rieder.io">Thomas Rieder</a>, <a href="http://manuelgeier.com">Manuel Geier</a>, Florian Mayer, Jonas Windhager</p>
            <p class="navbar-text visible-xs"> &copy; <a href="http://rieder.io">Thomas R.</a>, <a href="http://manuelgeier.com">Manuel G.</a>, Florian M., Jonas W.</p>
            <p class="navbar-text navbar-right loadingstatus"></p>
        </nav>
    </div>


    <!-- Templates -->

    <script type="text/template" id="stream-item-template">
        <div class="item" id="<%- id %>">
            <img class="img-responsive <%= disabled %>" src="<%- src %>" />
        </div>
    </script>

</body>
</html>
