body {
	background: #3f3f3f;
	padding-top: 50px;
	padding-bottom: 50px;
}

.navbar, .navbar-header {
	height: 50px;
}

.navbar-collapse {
	width: 100%;
	background-color: #FFF;
}

.navbar-collapse.in {
	overflow-y: normal;
}

#uploadBtn {
	margin-right: 10px;
}

.container {
  width: 100%;
  padding: 2px;
}

#content {
    position: relative;
}

.spinner {
    position: absolute;
}

h2 {
    text-align: center
}

.item {
	width: 32%;
	margin: 2px;
	background-color: #3f3f3f;
}

#moderate .item {
	cursor: pointer;
	background-color: red;
}

.item img {
	background-color: white;
	width: 100%;
}

img.disabled {
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}

@media(max-width:60em) {
	.item {
		width: 49%;
	}
}

@media(max-width:30em) {
	.item {
		width: 100%;
	}
}
